<a href="https://colab.research.google.com/github/qrNasr/LearnPython/blob/main/nestedLoops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Nested for Loop

In Python, the for loop is used to iterate over a sequence such as a list, string, tuple, other iterable objects such as range.

Syntax of using a nested for loop in Python

In [ ]:
# outer for loop
for element in sequence:
   # inner for loop
   for element in sequence:
       body of inner for loop
   body of outer for loop

# Multiplication table using nested loops

In [ ]:
# outer loop
for i in range(1, 11):
    # nested loop
    # to iterate from 1 to 10
    for j in range(1, 5):
        # print multiplication
        print(i * j, end=' ')
    print()

# Nasr Code

In [ ]:
a=['a','b','c','c']
b=[1,2,3,4]

for i in a:
  for k in b:
    print(i,k)

In [ ]:
a=['a','b','c','c']
b=[1,2,3,4]

for i in a:
  for k in b:
    print(i*k)

In [ ]:
a=[10,20,30,40]
b=[1,2,3,4]

for i in a:
  for k in b:
    print(i-k)

In [ ]:
import string
from typing import List, Any
lcase=list(string.ascii_lowercase)
kcase=list(string.ascii_uppercase)

print(lcase)
print(kcase)
for l in lcase:
   for k in kcase:
      print(l,k)